<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>106990273431-q9levl6laag8absmqmmg8nrl613tf3oi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106990273431-q9levl6laag8absmqmmg8nrl613tf3oi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>106990273431-23a5lu7831n6pms0au05ndo2ohd5h8vb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDlLDdf1rl2seWdsAipuf2Q5V7zGrPOlMA</string>
	<key>GCM_SENDER_ID</key>
	<string>106990273431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.famooshed.owner</string>
	<key>PROJECT_ID</key>
	<string>famooshed-314209</string>
	<key>STORAGE_BUCKET</key>
	<string>famooshed-314209.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106990273431:ios:60cef4088cfa556b693ad2</string>
	<key>DATABASE_URL</key>
	<string>https://famooshed-314209-default-rtdb.firebaseio.com</string>
</dict>
</plist>